<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Result
    body
        a(href="/form") back
        p #{data.username}
        p #{data.password}
        p #{data.agree_with}